:root { 

    --white: #FFFFFF;
    --white-bg: #F2F2F2;


    --primary-orange: #FF8258;
    --primary-orange-dark: #FF7243;
    --primary-blue: #74BDCB;
    --primary-sky: #E7F2F8;
    --primary-sand: #EFE7BC;

    --passive-dark: #4a4a4a;
    --passive-gray: #9C9C9C;
    --passive-lg-gray: #F2F2F2

}

html,
body {

	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	font-size: 14px;
}

h1 {
	font-size: 3.5rem;
	font-weight: 700;
}

h2 {
	font-size: 2.75rem;
}

h3 {
	font-size: 1.75rem;
}

p {
	color: var(--passive-gray);
	font-size: 1rem;
}

.trans_200 {
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.trans_300 {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.trans_400 {
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.trans_500 {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

