:root { 

    --white: #FFFFFF;
    --white-bg: #F2F2F2;


    --primary-orange: #FF8258;
    --primary-orange-dark: #FF7243;
    --primary-blue: #74BDCB;
    --primary-sky: #E7F2F8;
    --primary-sand: #EFE7BC;

    --passive-dark: #353535;
    --passive-gray: #9C9C9C;
    --passive-lg-gray: #CBCBCB

}

html,
body {

	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	font-size: 14px;
}

h1 {
	font-size: 3.5rem;
	font-weight: 700;
}

h2 {
	font-size: 2.75rem;
}

h3 {
	font-size: 1.75rem;
}

p {
	color: var(--passive-gray);
	font-size: 1rem;
}

