@charset "utf-8";
@import './_variables.css';
@import './font.css';
@import './hamburger.css';


* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}



div {
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin-bottom: 0px;
}

/*********************************
			Home
*********************************/

.home {
	border-left: 2px solid black;
	border-right: 2px solid black;


}



.bodytitle {
	padding: 1em;
	margin-top: 1em;
	position: relative;
	width: 25%;

	

}

.some-lines { 
	left: 100px;
	opacity: 0.2;
	position: absolute;
	width: 100px;
	height: 100px;
	background-color: #74BDCB;
	
}


/*********************************
			Cart
*********************************/

.cart_container { 
	padding: 1em;
}
.cart_section {
	width: 100%;
	margin-top: 5em;
}

.cart_bar {
	width: 100%;
	padding-bottom: 28px;
	border-bottom: solid 1px #ededed;
}

.cart_bar_list {
	display: block;
}

.cart_bar_list li {
	font-family: 'Open Sans', sans-serif;
	width: 68px;
	font-size: 1.15rem;
	font-weight: 700;
	color: var(--passive-dark);
}

.cart_bar_list li:first-child {
	width: auto;
}

.cart_bar_list li:not(:first-child):not(:last-child) {
	margin-right: 30px;
}

.item_list>*:first-child {
	text-align: left;
}

.cart_items {}

.cart_items_list {
	display: block;
}

.delete_btn {
	Cursor: pointer;
	color: #b2b2b2;
}


.delete_btn:hover {
	transition: all 0.3s;
	color: var(--passive-dark);
}

.cart_item {
	width: 100%;
	border-bottom: solid 1px #ededed;
}

.cart_item>div:not(:first-child) {
	width: 68px;
}

.cart_item>div:not(:first-child):not(:last-child) {
	margin-right: 30px;
}

.product {
	height: 100%;

}

.product_image img {
	height: 100%;
	width: 150px;
	object-fit: cover;


}

.product_number {
	width: 98px;
	padding-left: 36px;
	font-size: 18px;
	font-weight: 300;
	color: #4a4a4a;
}

.product_name_container {
	padding-left: 30px;
}

.product_name a {
	font-size: 18px;
	color: #4a4a4a;
	font-weight: 500;
}

.product_name a:hover {
	color: #74BDCB;
}

.product_text {
	font-size: 14px;
	font-weight: 400;
	color: #4a4a4a;
}

.product_color {
	text-transform: uppercase;
}

.product_price {
	font-size: 16px !important;
}

.product_total {
	font-size: 16px !important;
	font-weight: 500 !important;
}

.product_text {
	font-size: 14px;
	font-weight: 300;
	color: #4a4a4a;
}

.product_quantity {
	width: 68px;
	height: 32px;
	border: solid 2px #969696;
	border-radius: 3px;
}

.product_quantity>span {
	line-height: 28px;
	font-size: 16px;
	font-weight: 300;
	color: #4a4a4a;
	text-align: center;
}

.qty_button {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 22px;
	height: 100%;
	line-height: 28px;
	cursor: pointer;
	font-size: 16px;
	color: #414141;
}

.qty_button span {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.qty_button:hover {
	color: #bbe432;
}

.qty_sub {
	left: 0px;
}

.qty_add {
	right: 0px;
}

.product_text>span {
	display: none;
}

.cart_buttons {
	margin-top: 30px;
}

.btn { 
	margin-left: 0.5em;
	padding: 0.25em 1.25em;
	font-size: 1.25rem;
	font-weight: 700;
}



.cart_extra_row {
	margin-top: 53px;
}

.cart_extra_1 {}

.cart_extra_2 {}

.cart_extra_content {
	background: #f8f8f8;
	padding-top: 51px;
	padding-left: 68px;
	padding-right: 82px;
}

.cart_extra_coupon {
	padding-bottom: 54px;
}

.cart_extra_title {
	font-size: 24px;
	font-weight: 700;
	color: #4a4a4a;
	line-height: 0.75;
}



.radio_mark {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	width: 16px;
	height: 16px;
	background: transparent;
	border: solid 2px #838383;
	border-radius: 50%;
}

.radio_mark::after {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #74BDCB;
	content: '';
	visibility: hidden;
	opacity: 0;
}

.radio_container input:checked~.radio_mark {
	border-color: #74BDCB;
}

.radio_container input:checked~.radio_mark::after {
	visibility: visible;
	opacity: 1;
}

.radio_container input:checked~.radio_text {
	color: #74BDCB;
}

.radio_text {
	font-size: 14px;
	font-weight: 500;
	color: #838383;
}

.shipping_price {
	font-size: 14px;
	font-weight: 600;
	color: #838383;
	text-transform: uppercase;
}

.cart_extra_total {
	padding-bottom: 52px;
	padding-right: 68px;
}

.cart_extra_total_list {
	margin-top: 97px;
	padding-right: 48px;
	padding-left: 20px;
}

.cart_extra_total_list li {
	position: relative;
}

.cart_extra_total_list li:not(:last-child) {
	margin-bottom: 24px;
}

.cart_extra_total_title,
.cart_extra_total_value {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #969696;
}

.cart_extra_total_value {
	color: #4a4a4a;
}

.cart_extra_total_list li:last-child .cart_extra_total_value {
	color: #4a4a4a;
	font-weight: 800;
}

.cart_extra_total_list li:last-child::before {
	display: block;
	position: absolute;
	top: 50%;
	left: -20px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: calc(100% + 68px);
	height: 41px;
	background: #FFFFFF;
	content: '';
	z-index: 0;
}

.checkout_button {
	width: 100%;
	height: 44px;
	text-align: center;
	background: #74BDCB;
	border-radius: 3px;
	margin-top: 70px;
}

.checkout_button a {
	display: block;
	font-size: 18px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 44px;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.checkout_button:hover {
	background: #4a4a4a;
}

.checkout {
	width: 100%;
	background: #FFFFFF;
	padding-top: 101px;
	padding-bottom: 101px;
}

/*********************************
		Billing
*********************************/

.billing {
	padding-top: 51px;
	padding-left: 68px;
	padding-right: 68px;
	padding-bottom: 32px;
	background: #f8f8f8;
}

.checkout_box {
	background: #edf4f6;
}

.checkout_title {
	font-weight: 600;
	color: #4a4a4a;
	font-size: 24px;
	line-height: 0.75;
}





.checkout_form_container {
	margin-top: 31px;
}

.checkout_form>div:not(:last-child) {
	margin-bottom: 20px;
}

.checkout_form label {
	font-size: 14px;
	font-weight: 600;
	color: #414141;
	margin-bottom: 9px;
}

.checkout_form_cc>div:not(:last-child) {
	margin-bottom: 20px;
}

.checkout_form_cc label {
	font-size: 14px;
	font-weight: 600;
	color: #414141;
	margin-bottom: 9px;
}

.checkout_input {
	width: 100%;
	height: 52px;
	background: #FFFFFF;
	border: none;
	outline: none;
	box-sizing: border-box;
	border-bottom: solid 2px #FFFFFF;
	padding-left: 20px;
	color: #000000;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.checkout_input:hover,
.checkout_input:focus {
	border-bottom: solid 2px #74BDCB;
}

.checkout_input::-webkit-input-placeholder {
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #969696 !important;
}

.checkout_input:-moz-placeholder {
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #969696 !important;
}

.checkout_input::-moz-placeholder {
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #969696 !important;
}

.checkout_input:-ms-input-placeholder {
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #969696 !important;
}

.checkout_input::input-placeholder {
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #969696 !important;
}

.checkout_input:focus::-webkit-input-placeholder {
	color: #000000 !important;
}

.checkout_input:focus:-moz-placeholder {
	color: #000000 !important;
}

.checkout_input:focus::-moz-placeholder {
	color: #000000 !important;
}

.checkout_input:focus:-ms-input-placeholder {
	color: #000000 !important;
}

.checkout_input:focus::input-placeholder {
	color: #000000 !important;
}

.checkout_input:hover::-webkit-input-placeholder {
	color: #000000 !important;
}

.checkout_input:hover:-moz-placeholder {
	color: #000000 !important;
}

.checkout_input:hover::-moz-placeholder {
	color: #000000 !important;
}

.checkout_input:hover:-ms-input-placeholder {
	color: #000000 !important;
}

.checkout_input:hover::input-placeholder {
	color: #000000 !important;
}


.dropdown_item_select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	background-image: url(../img/down.png);
	background-position: center right;
	background-repeat: no-repeat;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
	font-size: 14px;
	font-weight: 400;
	color: #969696 !important;
}

.dropdown_item_select::-ms-expand {
	display: none;
}


.checkbox_container {
	position: relative;
	padding-left: 29px;
}

.billing_checkbox {
	display: none;
}

.checkbox_mark {
	position: absolute;
	left: 0;
	top: 6px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	width: 13px;
	height: 13px;
	background: #FFFFFF;
	cursor: pointer;
	vertical-align: middle;
	margin-bottom: 0;
	border: solid 2px #969696;
}

.billing_checkbox:checked~.checkbox_mark {
	border-color: #74BDCB;
}

.checkbox_text {
	font-size: 13px;
	font-weight: 400;
	color: #4a4a4a;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}

/*********************************
	Total Payment Form
*********************************/

.cart_total {
	width: 100%;
	background: #f8f8f8;
}

.cart_extra_total_list {
	margin-top: 36px;
}

.cart_extra_total_list li {
	position: relative;
}

.cart_extra_total_list li:not(:last-child) {
	margin-bottom: 24px;
}

/* 
.checkout_title
{
	font-weight: 600;
	color: #4a4a4a;
	font-size: 24px;
	line-height: 0.75;
}
.checkout_form_container
{
	margin-top: 31px;
} */
.cart_extra_total_title,
.cart_extra_total_value {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #969696;

}

.cart_extra_total_value {
	color: #4a4a4a;
}

.cart_extra_total_list li:last-child .cart_extra_total_value {
	color: #4a4a4a;
	font-weight: 800;
}

.cart_extra_total_list li:last-child::before {
	display: block;
	position: absolute;
	top: 50%;
	left: -20px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: calc(100% + 68px);
	height: 41px;
	background: #FFFFFF;
	content: '';
	z-index: 0;
}

.payment_options {
	margin-top: 53px;
}

.checkout_button {
	border: none;
	color: white;
	width: 100%;
	height: 44px;
	text-align: center;
	background: #74BDCB;
	border-radius: 3px;
	margin-top: 32px;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;



}


.checkout_button:hover {
	background: #4a4a4a;
}

.payment_options ul {
	margin-top: 37px;
}

.payment_options ul li:not(:last-child) {
	margin-bottom: 9px;
}

.payment_options input {
	display: inline-block;
	vertical-align: middle;
}

.radio_container {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	color: #838383;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 0;
}

.payment_radio {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
}

.radio_mark {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
	width: 16px;
	height: 16px;
	background: transparent;
	border: solid 2px #838383;
	border-radius: 50%;
}

.radio_mark::after {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #74BDCB;
	content: '';
	visibility: hidden;
	opacity: 0;
}

.radio_container input:checked~.radio_mark {
	border-color: #74BDCB;
}

.radio_container input:checked~.radio_mark::after {
	visibility: visible;
	opacity: 1;
}

.radio_container input:checked~.radio_text {
	color: #74BDCB;
}

.radio_text {
	font-size: 14px;
	font-weight: 500;
	color: #838383;
}

.cart_text {
	margin-top: 26px;
}

.cart_text p {
	font-size: 13px;
	color: #969696;
	font-weight: 300;
	line-height: 1.85;
}

.decoration { 
	width: 100px;
	height: 100px;
	
}

.decoration-why-1 {
	 /*block color  */
	background-color: var(--primary-sky);
}

.decoration-why-2 {
	 /*block color  */
	background-color: var(--primary-orange);
}

.decoration-why-3 {
	 /*block color  */
	background-color: var(--primary-sand);
}

