@import './_variables.css';
@import './font.css';
@import './hamburger.css';


html,
body {

	font-family: 'Roboto';
	background: white;
	font-size: 14px;
}



/* first main header */

.main-header .collapse {
	margin-left: 3em;

}


.navbar-brand img {
	max-height: 65px;
}


.main-header .nav-link {
	margin-right: 2em;
	color: var(--passive-dark);
	border-bottom: 3px solid white;
	font-weight: 700;
	font-size: 1em;

}

.active .nav-link {
	border-bottom: 3px solid #74BDCB;
}


.main-header .nav-link:hover {
	color: #74BDCB;
	border-bottom: 3px solid #74BDCB;
}

.btn-sign-in {
	font-size: 1em !important;
	color: #74BDCB !important;
	border: 3px solid #74BDCB !important;
	border-radius: 40px !important;
	padding: 0.25em 1.25em !important;
}

.btn-sign-up {
	font-size: 1em !important;
	color: white !important;
	border: 3px solid #FFA384 !important;
	background-color: #FFA384 !important;
	border-radius: 40px !important;
	padding: 0.25em 1.25em !important;

}

.search { 
	border-radius: 40px;
}

/* second main header */
.category-nav {
	margin: 0 20%;
}

.category-nav ul li a {
	display: block;
	text-decoration: none;
	padding: 1em 1.25em;
	color: var(--passive-dark);
	border-bottom: 3px solid white;
	opacity: 0.6;
	font-weight: 700;
	font-size: 1em;

}

.category-nav ul li a:hover {
	display: block;
	text-decoration: none;
	padding: 1em 1.25em;
	color: var(--passive-dark);
	border-bottom: 3px solid white;
	opacity: 1;
	font-weight: 700;

}

.bodytitle{
    width: 40%;
    margin-top: 10%;
}

.ket{
    margin-top: 3em;
	letter-spacing: 0.195em;
	font-weight: 550;
	font-size: 1.3rem;
}

.decor{
    border-bottom: 1px solid black;
    margin-bottom: 1em;
}

.card-body{
	display: block;
}

.card-deck{
	justify-content: space-around;
}

.card {
    margin-top: 1em;
	min-width: 20%;
    border-radius: 15px;
}

.pic {
    min-width: 23%;
    height: 250px;
	border-radius: 15px 15px 0px 0px;
    object-fit: cover;
	
}

.dname {
    font-size: 1.5rem;
	font-weight: bold;
    color: #262626;

}

.hrg{

	
	text-align: right;
    font-size: 1rem;
    font-weight: bold;
   
    
}



.penyakit{
	padding-top: 0.3rem;
    font-size: 1rem;
    color: var(--passive-gray);

}

.btn{
	font-size: 1rem;
	font-weight: 500;
    background: #FFA384;
    color: white;
    border-radius: 11px;
    max-width: 100%;
    min-width: 90%;
	margin : 0 auto 10px auto;
	

}




@media screen and (max-width: 991px) { 

	.card-deck {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto auto auto auto;
		grid-auto-flow: dense;


	}
}


@media screen and (max-width: 767px) {

	.card-deck {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto auto;
		grid-auto-flow: dense;


	}

	
}


@media screen and (max-width: 580px) {

	.card-deck {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto auto;
		grid-auto-flow: dense;


	}

	
}

