footer {
    padding: 1em;
	background: #74BDCB;
	font-family: Roboto;
}

footer a {
    color: #FFFFFF;
    font-weight: 700;

}

footer a:hover {
    color: var(--passive-dark);


}

footer h4 {
	color: #FFFFFF;
}

footer p {
	color: #FFFFFF;

}

span { 
    font-size: 0.7em;
	font-family: Roboto;


}

.page-break  {
	border: 2px solid #FFFEFE;
}



