@import './_variables.css';
@import './font.css';
@import './hamburger.css';


html,
body {

	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	font-size: 14px;
	background: white;
}

.navbar-brand img {
	max-height: 65px;
}


/* first main header */

.main-header .collapse {
	margin-left: 3em;

}

.main-header .nav-link {
	margin-right: 2em;
	color: var(--passive-dark);
	border-bottom: 3px solid white;
	font-weight: 700;
	font-size: 1em;

}

.active .nav-link {
	border-bottom: 3px solid #74BDCB;
}


.main-header .nav-link:hover {
	color: #74BDCB;
	border-bottom: 3px solid #74BDCB;
}

.btn-sign-in {
	font-size: 1em !important;
	color: #74BDCB !important;
	border: 3px solid #74BDCB !important;
	border-radius: 40px !important;
	padding: 0.25em 1.25em !important;
}

.btn-sign-up {
	font-size: 1em !important;
	color: white !important;
	border: 3px solid #FFA384 !important;
	background-color: #FFA384 !important;
	border-radius: 40px !important;
	padding: 0.25em 1.25em !important;

}

.search { 
	border-radius: 40px;
}

/* second main header */
.category-nav {
	margin: 0 20%;
}

.category-nav ul li a {
	display: block;
	text-decoration: none;
	padding: 1em 1.25em;
	color: var(--passive-dark);
	border-bottom: 3px solid white;
	opacity: 0.6;
	font-weight: 700;
	font-size: 1em;

}

.category-nav ul li a:hover {
	display: block;
	text-decoration: none;
	padding: 1em 1.25em;
	color: var(--passive-dark);
	border-bottom: 3px solid white;
	opacity: 1;
	font-weight: 700;

}



.bodytitle{
    
    position: absolute;
    width: 600px;
    height: 125px;
    left: 200px;
    padding: 10px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.64em;

	color: #242E35;
	
}

.foto{
    position: absolute;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    left: 250px;
    bottom: 10px;

}

.card{
    
    background: #D9FFDD;
    border-radius: 20px;
    left: 200px;
    width: 380px; 
    height: 126px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-title{
    padding-top: 30px;
}

