@import './_variables.css';
@import './font.css';
@import './hamburger.css';


html,
body {

	margin: 0;
	padding: 0;
	font-family: 'Roboto';
	font-size: 14px;
}

h1 {
	font-size: 3.5rem;
	font-weight: 700;
}

h2 {
	font-size: 2.75rem;
}

h3 {
	font-size: 1.75rem;
}

p {
	color: var(--passive-gray);
	font-size: 1rem;
}

.navbar-brand img {
	max-height: 65px;
}




/* first main header */

.main-header .collapse {
	margin-left: 3em;

}

.main-header .nav-link {
	margin-right: 2em;
	color: var(--passive-dark);
	border-bottom: 3px solid white;
	font-weight: 700;
	font-size: 1em;

}

.active .nav-link {
	border-bottom: 3px solid #74BDCB;
}


.main-header .nav-link:hover {
	color: #74BDCB;
	border-bottom: 3px solid #74BDCB;
}

.btn-sign-in {
	font-size: 1em !important;
	color: #74BDCB !important;
	border: 3px solid #74BDCB !important;
	border-radius: 40px !important;
	padding: 0.25em 1.25em !important;
}

.btn-sign-up {
	font-size: 1em !important;
	color: white !important;
	border: 3px solid #FFA384 !important;
	background-color: #FFA384 !important;
	border-radius: 40px !important;
	padding: 0.25em 1.25em !important;

}

.search { 
	border-radius: 40px;
}

/* second main header */
.category-nav {
	margin: 0 20%;
}

.category-nav ul li a {
	display: block;
	text-decoration: none;
	padding: 1em 1.25em;
	color: var(--passive-dark);
	border-bottom: 3px solid white;
	opacity: 0.6;
	font-weight: 700;
	font-size: 1em;

}

.category-nav ul li a:hover {
	display: block;
	text-decoration: none;
	padding: 1em 1.25em;
	color: var(--passive-dark);
	border-bottom: 3px solid white;
	opacity: 1;
	font-weight: 700;

}

/* =====  Main grid  ===== */


.main-grid {
	display: grid;
	grid-template-columns: 25% auto 35%;
	grid-template-rows: minmax(300px, auto) minmax(300px, auto);
	grid-auto-flow: dense;
}

.inner-item { 
	height: 100%;
	width: 100%;
	padding-bottom: 60%;
}



.grid-item,
.drug-title p {
	color: white;
	position: relative;
}

/* container for medicine */
.grid-item .container-drug {
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	padding: 2em 2em;
}



/* container for top */
.grid-item .container-top {
	right: 0px;
	padding: 2em 2em;
	position: absolute;
	top: 0px;

}

/* container for article */
.grid-item .container-article {
	padding: 2em 2em;
	max-width: 200px;
	position: absolute;
	top: 0px;
}

/* container for doctor */
.grid-item .card {
	padding: 10%;
	height: 100%;
	width: 100%;
}

/* drug button */
.btn-main-drug {

	padding-right: 1.25em;
	padding-left: 1.25em;
	border-radius: 40px;

}

/* article button */
.btn-main-article {
	padding-right: 1.25em;
	padding-left: 1.25em;
	border-radius: 40px;

}

.grid-item-1 {
	grid-row: 1;
	grid-column: 1;
	background-image: url("../img/pill-white.jpg");
	background-position: 50% 50%;
	background-size: 200%;
	background-repeat: no-repeat;
	transition: all 0.3s;


}

.grid-item-2 {
	grid-row: 1/3;
	grid-column: 2;
	background-image: url("../img/drug.jpg");
	background-position: 50% 50%;
	background-size: 200%;
	background-repeat: no-repeat;
	transition: all 0.3s;

}

.grid-item-3 {
	grid-row: 2;
	grid-column: 1;
	background-image: url("../img/pill-green.jpg");
	background-position: 50% 50%;
	background-size: 200%;
	background-repeat: no-repeat;
	transition: all 0.3s;


}

.grid-item-4 {
	grid-row: 1;
	grid-column: 3;
	background: url("../img/dokter.jpg");
	background-size: cover;
	transition: all 0s ;

}

.grid-item-5 {
	grid-row: 2;
	grid-column: 3;
	background-image: url("../img/magazine.jpg");
	background-position: 50% 50%;
	background-size: 200%;
	background-repeat: no-repeat;
	transition: all 0.3s;
	


}

.grid-item:hover {

    cursor: pointer;
	background-size: 210%;

}

.grid-item-4:hover {

	cursor: pointer;
	background-size: cover !important;

}

/* =====  end main grid  ===== */

.main-category { 
	background-color: #F2F2F2;
}

.category-grid { 
	display: grid;
	grid-gap: 1em;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto auto;
}

.grid-c-item { 
	background-color: white;
	padding: 2em;
	
}

.inner-c-item {
	text-align: center;
	padding: 10% 0;

}

.grid-c-item .inner-c-item { 
	transition: all 0.5s;
	cursor: pointer;


}

.grid-c-item .inner-c-item:hover { 
	transform: scale(1.05);

}


.grid-c-item img { 
	width: 50px !important;
}

.grid-c-item p { 
	color: #929292;

}



.grid-c-item-1 { 
	grid-column: 1;
}

.grid-c-item-2 { 
	grid-column: 2;
}

.grid-c-item-3 { 
	grid-column: 3;
}

.grid-c-item-4 { 
	grid-column: 4;
}
/* jumbooo */
/* jumbo grid */
.grid-c-item-5 { 
	padding: 4em;

	grid-column: 1/4;
	grid-row: 2/4;
	background-image: url("../img/cough.png");
	background-size: cover;
	background-repeat: no-repeat;
	text-align: start !important;
	transform: scale(1);

}

.covid-title { 
	padding: 0 2em;
	max-width: 300px;
	color: white;
}
.covid-title img { 
	min-width: 150px !important;
	margin-bottom: 1em;
}

.covid-title h1 { 
	color: #FFA384 !important;
}

.covid-title p { 
	color: white;
}


.covid-title .btn { 
	margin-top: 3em;
}


.btn-j { 
	font-size: 1em !important;
	color: white !important;
	border: 3px solid #FFA384 !important;
	background-color: #FFA384 !important;
	border-radius: 40px !important;
	padding: 0.25em 1.25em !important;
}
/* end jumbo */

/* grid article */
.grid-a-item { 
	position: relative;
	background-color: white;
	padding: 2em;
	padding-bottom: 25%;
}


.grid-a-item p { 
	color: #929292;
	margin-bottom: 1.5em;
	max-width:200px;

}

.grid-a-item-1 { 
	grid-column: 4;
	grid-row: 2;
}

.grid-a-item-2 { 
	grid-column: 4;
	grid-row: 3;
}



.tag { 
	display: inline-block;
	color: #74BDCB;
	border: 3px solid #74BDCB;
	padding: 0.25em 0.75em ;
	margin-bottom: 1.5em;
}

.tag-hot { 
	color: #FFA384;
	border: 3px solid #FFA384;
	margin-bottom: 0;
}

.tag-passive { 
	visibility: hidden;
}

.foot { 
	right: 0px;
	width: 100%;
	padding: 2em;
	position: absolute;
	bottom: 0px;
	text-align: center;
}

.btn-a {
	font-size: 1em !important;
	color: white !important;
	border: 3px solid #FFA384 !important;
	background-color: #FFA384 !important;
	border-radius: 40px !important;
	padding: 0.25em 1.25em !important;

}

/* top decoration */
.decoration { 
	width: 100px;
	height: 100px;
	
}

.decoration-why-1 { 
	background-color: #E7F2F8;
}

.decoration-why-2 { 
	background-color: #FFA384;
}

.decoration-why-3 { 
	background-color: #EFE7BC;
}

/* end decoration */


/* main why */

/* grid why */

.main-why { 
	margin: 4em 4em;

}
.why-grid { 
	display: grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows: auto auto;
	grid-gap: 3em;
}

.grid-w-item { 
	width: 100%;
	border-radius: 20px;
	background-color: white;
	text-align: center;
	padding: 10% 0;

}

.grid-w-item img { 
	width: 60px !important;
}

.grid-w-item p { 
	color: #929292;

}

.grid-w-item-1{
	grid-row: 1;
	grid-column: 1;

}

.grid-w-item-2{ 
	grid-row: 1;
	grid-column: 2 ;
}

.grid-w-item-3{ 
	grid-row: 2;
	grid-column: 1;
}

.grid-w-item-4{ 
	grid-row: 2;
	grid-column: 2;
}

.grid-w-item-5 {
	grid-column: 3/5; 
	grid-row: 1/3 ;
}

.inner-w-title { 
	border-right: 40px solid #AEDDDD ;
}

.inner-w-title .why {
	padding: 4em;
	text-align: start;
	width: 80%; 

}

/* middle container */

.middle-container { 
	height: 100px;
	border-left: 3px solid black;
}

/* main testimonial */

.main-testimonial { 
	margin: 4em 4em;
}

.main-t-top { 
	width: 100%;
	border-right: 3px solid black;
}

.main-testimonial-title { 
	max-width: 250px;
	margin-bottom: 1em;
}
.card { 
	border-radius: 20px;
	min-width:200px;
}

.card-body { 
	padding: 2em;
}

.card-footer { 
	padding: 0 2em 2em 2em;
}
.card-img-top {
	border-top-left-radius:20px;
	border-top-right-radius:20px;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.testimonials .card .card-footer { 
	background-color: white;
	border: none;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;


}


/* main why */


/* media query */
@media screen and (max-width: 1036px) {

	.main-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto auto;
		grid-auto-flow: dense;


	}

	.grid-item-1 {
		grid-row: 1;
		grid-column: 1;
		background-image: url("../img/pill-white.jpg");
		background-position: 50% 50%;
		background-size: 200%;
		background-repeat: no-repeat;
		transition: all 1s;
		padding-bottom: 50%;


	}

	.grid-item-2 {
		grid-row: 2;
		grid-column: 1/3;
		background-image: url("../img/drug.jpg");
		background-position: 50% 50%;
		background-size: 200%;
		background-repeat: no-repeat;
		transition: all 1s;
	}

	.grid-item-3 {
		grid-row: 1;
		grid-column: 2;
		background-image: url("../img/pill-green.jpg");
		background-position: 50% 50%;
		background-size: 200%;
		background-repeat: no-repeat;
		transition: all 1s;

	}

	.grid-item-4 {
		grid-row: 3;
		grid-column: 1/3;

	}

	.grid-item-5 {
		grid-row: 4;
		grid-column: 1/3;
		background-image: url("../img/magazine.jpg");
		background-position: 50% 50%;
		background-size: 200%;
		background-repeat: no-repeat;
		transition: all 1s;

	}

	.grid-c-item-5 { 
		padding: 4em;
	
		grid-column: 1/5;
		grid-row: 2;
		background-image: url("../img/cough.png");
		background-size: cover;
		background-repeat: no-repeat;
		text-align: start !important;
	}

	.grid-a-item-1 { 
		grid-column: 1/3;
		grid-row: 3;
	}
	
	.grid-a-item-2 { 
		grid-column: 3/5;
		grid-row: 3;
	}
}

@media screen and (max-width: 992px) { 

	.grid-w-item-1{
		grid-row: 2;
		grid-column: 1;
	
	}
	
	.grid-w-item-2{ 
		grid-row: 2;
		grid-column: 2;
	}
	
	.grid-w-item-3{ 
		grid-row: 2;
		grid-column: 3;
	}
	
	.grid-w-item-4{ 
		grid-row: 2;
		grid-column: 4;
	}
	
	.grid-w-item-5 {
		position: relative;
		grid-column: 1/5; 
		grid-row: 1 ;
	}
	


}


@media screen and (max-width: 768px) {

	.main-nav {
		display: flex !important;
		justify-content: space-around !important;
		align-items: center !important;
	}

	.grid-item .container-article {
		padding: 2em 2em;
		max-width: 40%;
		position: absolute;
		top: 0px;
	}




}

@media screen and (max-width: 628px) {

	body,
	html {
		font-size: 12px;
	}

	.grid-item .container-drug {
		position: absolute;
		bottom: 0px;
		left: 0;
		right: 0;
		padding: 1em 1em;
	}

	.grid-c-item img { 
		width: 50px !important;
	}

	.grid-w-item img { 
		width: 50px !important;
	}
}

@media screen and (max-width: 450px) { 

	.category-grid { 
		display: grid;
		grid-gap: 0.5em;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}

	.grid-c-item-1 { 
		grid-column: 1;
		grid-row: 1;
	}
	
	.grid-c-item-2 {
		grid-column: 2;

		grid-row: 1;

		
	}
	
	.grid-c-item-3 { 
		grid-column: 1;

		grid-row: 2;

	}
	
	.grid-c-item-4 { 
		grid-column: 2;

		grid-row: 2;

	}
	/* jumbooo */
	/* jumbo grid */
	.grid-c-item-5 { 
		grid-column: 1/3;
		grid-row: 5;


		padding: 4em;

	
		background-image: url("../img/cough.png");
		background-size: cover;
		background-repeat: no-repeat;
		text-align: start !important;
		transform: scale(1);
	
	}

	.grid-a-item-1 { 
		grid-column: 1/3;

		grid-row: 6; 	
	}
	
	.grid-a-item-2 { 
		grid-column: 1/3;
		grid-row: 7;
	}
}


@media screen and (max-width: 328px) {

	body,
	html {
		font-size: 10px;
	}

	.grid-item .container-article {
		padding: 2em 2em;
		width: 50%;
		position: absolute;
		top: 0px;
	}

	
	


}


/* tryyy */
