@import './_variables.css';
@import './font.css';
@import './hamburger.css';


html, body { 
    
    font-family: 'Roboto';
    font-size: 14px;
}

h1 {
	font-size: 3.5rem;
	font-weight: 700;
}

h2 { 
    font-size: 2.75rem;
}

h3 { 
    font-size: 1.75rem;
}

p {
	color: var(--passive-gray);
	font-size: 1rem;
}

.navbar-brand img { 
    max-height: 65px;
}



/* first main header */

.main-header .collapse { 
    margin-left: 3em;
    
}

.main-header .nav-link { 
    margin-right: 2em;
	color: var(--passive-dark);
	border-bottom: 3px solid white;
	font-weight: 700;
	font-size: 1em;

}

.active .nav-link { 
    border-bottom:3px solid #74BDCB;
}


.main-header .nav-link:hover {   
    color: #74BDCB;
    border-bottom: 3px solid #74BDCB;
}

.btn-sign-in { 
    font-size: 1em !important;
    color: #74BDCB !important;
    border: 3px solid #74BDCB !important;
    border-radius: 40px !important;
    padding: 0.25em 1.25em !important;
}

.btn-sign-up { 
    font-size: 1em !important;
    color: white !important;
    border: 3px solid #FFA384 !important;
    background-color: #FFA384 !important;
    border-radius: 40px !important;
    padding: 0.25em 1.25em !important;

}

/* second main header */
.category-nav { 
    margin: 0 20%;
}

.category-nav ul li a { 
    display: block;
	text-decoration: none;
	padding: 1em 1.25em;
	color: var(--passive-dark);
	border-bottom: 3px solid white;
	opacity: 0.6;
	font-weight: 700;
	font-size: 1em;

}

.category-nav ul li a:hover { 
    display: block;
	text-decoration: none;
	padding: 1em 1.25em;
	color: var(--passive-dark);
	border-bottom: 3px solid white;
	opacity: 1;
	font-weight: 700;

}

/* =====  Main grid  ===== */
.main-grid { 
    display: grid;
    grid-template-columns: 25% auto 30%;
    grid-template-rows: 325px 325px;
    grid-auto-flow: dense;
}

.grid-item, .drug-title p { 
    color: white;
    position: relative;
}

/* container for medicine */
.grid-item .container-drug{ 
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}



/* container for top */
.grid-item .container-top { 
    right: 0px;
    padding: 2em 2em;
    position: absolute;
    top: 0px;
    
}
/* container for article */
.grid-item .container-article { 
    padding: 2em 2em;
    width: 50%;
    position: absolute;
    top: 0px;
}

/* container for doctor */
.grid-item .card {
    padding: 10%; 
    height: 100%;
    width: 100%;
}
/* drug button */
.btn-main-drug { 
   
    padding-right: 1.25em;
    padding-left: 1.25em;
    border-radius: 40px;

}
/* article button */
.btn-main-article { 
    padding-right: 1.25em;
    padding-left: 1.25em;
    border-radius: 40px;

}

.grid-item-1 { 
    grid-row: 1;
    grid-column: 1;
    background-image: url("../img/pill-white.jpg");
    background-position:50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.grid-item-2 { 
    grid-row: 1/3;
    grid-column: 2;
    background-image: url("../img/drug.jpg");
    background-position:50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    }

.grid-item-3 {
    grid-row: 2;
    grid-column: 1;
    background-image: url("../img/pill-green.jpg");
    background-position:50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

}

.grid-item-4 { 
    grid-row: 1;
    grid-column: 3;
    background-color: #F3F3F3;
    
}

.grid-item-5 { 
    grid-row: 2;
    grid-column: 3;
    background-image: url("../img/magazine.jpg");
    background-position:50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

}

/* =====  end main grid  ===== */

/* media query */
@media screen and (max-width: 968px) {

	.main-grid { 
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 250px 250px 250px 250px;
        grid-auto-flow: dense;


    }

    .grid-item-1 { 
        grid-row: 1;
        grid-column: 1;
        background-image: url("../img/pill-white.jpg");
        background-position:50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    
    .grid-item-2 { 
        grid-row: 2;
        grid-column: 1/3;
        background-image: url("../img/drug.jpg");
        background-position:50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        }
    
    .grid-item-3 {
        grid-row: 1;
        grid-column: 2;
        background-image: url("../img/pill-green.jpg");
        background-position:50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    
    .grid-item-4 { 
        grid-row: 3;
        grid-column: 1/3;
        background-color: #F3F3F3;
        
    }
    
    .grid-item-5 { 
        grid-row: 4;
        grid-column: 1/3;
        background-image: url("../img/magazine.jpg");
        background-position:50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
}


@media screen and (max-width: 768px) {

	.main-nav {
		display: flex !important;
		justify-content: space-around !important;
		align-items: center !important;
    }
    
    .grid-item .container-article { 
        padding: 2em 2em;
        width: 40%;
        position: absolute;
        top: 0px;
    }
    



}

@media screen and (max-width: 628px) {

	body,html { 
        font-size: 12px;
    }

}

@media screen and (max-width: 328px) {

	body,html { 
        font-size: 10px;
    }

    .grid-item .container-article { 
        padding: 2em 2em;
        width: 50%;
        position: absolute;
        top: 0px;
    }
    

}






