@import './_variables.css';
@import './font.css';

body, html { 
    font-family: 'Roboto';
    font-size: 14px;

}

h1 { 
    font-size: 3rem;
    font-weight: 700;
}

p { 
    color: var(--passive-gray);
    font-size: 1rem;
}

.row { 
    min-height: 100vh;
}

.form-group { 
    font-size: 1rem;
}

.link {
	font-size: 1rem;
	font-weight: 700;
	color: #4492ED;
}


.container-image { 
    background-image: url('../img/markus-spiske-k-o-Icw5J80-unsplash.jpg');
    background-size: cover;
    display: grid;
    grid-template-columns: 5% auto 50%;
    grid-template-rows: 5em auto 5em;
}


.slogan { 
    grid-column: 2;
    grid-row: 2;
    border-left: 2px solid var(--passive-gray);
    color: var(--passive-gray);
    display: flex;
    align-items: flex-end;
    padding: 2em;

}

.slogan h1 { 
    opacity: 0;
}

.main-nav { 
   
    padding: 0em 1.5em;
    margin-bottom: 5%;
}


.main-nav ul{
    list-style-type:none;
    margin: 0;
    padding: 0;

}

.main-nav ul li { 
    float: right;

}
.main-nav ul li a {
    display: block;
	text-decoration: none;
	padding: 1em 1.25em;
	color: var(--passive-dark);
	border-bottom: 3px solid white;
	opacity: 0.6;
	font-weight: 700;
	font-size: 1em;
   


}

.brand { 
    max-width: 150px;
}

.main-nav ul li a:hover { 

    color: #74BDCB;
    border-bottom: 3px solid #74BDCB;
}

.brand { 
	max-width: 150px;
}

.main-form { 
    margin: 0% 15% 0 15%;
    height: 80%;
	display: flex;
	flex-wrap: wrap;
}




.form-title {
	flex: 0 0 100%;
}

form { 
	flex: 0 0 100%;
}

.bottom-bar { 
    text-align: center;
	flex: 0 0 100%;
	align-self: flex-end;
}



input[type=email], input[type=password], input[type=text], input[type=date]{ 
    font-size: 1rem;
	display: block;
	width: 100%;
	padding: 0.3em;
	box-sizing: border-box;
}

button[type=submit] { 
    padding: 1em;
    border-radius: 40px;
    font-weight: 700;
    color: var(--passive-gray);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.agree{
    padding-top: 10px;
}


/* sandwich */
.sandwich {
    cursor: pointer;

  }
.icon-bar { 
    width: 22px;
    height: 2px;
    background-color: black;
    transition: all cubic-bezier(0.35, 0.4, 0.27, 1.55) 0.35s;
    margin-top: 4px;

}

/* button */

.btn-primary { 
    background-color: #E7F2F8 !important;
    border: none;
}

.btn-primary:hover { 
    background-color: #74BDCB !important;
    
}

.btn-primary:focus { 
    background-color: #74BDCB !important;
    border: none;

}

.btn-primary:active { 
    background-color: #74BDCB !important;
    border: none;
}

.input-group-prepend {
	width: 100%;
}

span.gaterlihat {
    position: absolute;
    right: 15px;
    transform: translate(0, -50%);
    top: 75%;
    cursor: pointer;
}



.mz-check {
  cursor: pointer;
  padding-left: 1.25rem;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  position: relative; 
}
.mz-check input {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
  margin-left: -1.25rem; 
}
.mz-check input:checked + i:before {
  border-width: 0;
  background-color: inherit; 
}
.mz-check input:checked + span .active {
  display: inherit; 
}
.mz-check input[type="radio"] + i, .mz-check input[type="radio"] + i:before {
  border-radius: 50%; 
}
.mz-check input[type="checkbox"]:checked + i:after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 6px;
  top: 2px;
  display: table;
  width: 6px;
  height: 12px;
  border: 2px solid;
  border-top: 0;
  border-left: 0;
  content: ' '; 
}
.mz-check input[type="radio"]:checked + i:after {
  position: absolute;
  left: 6px;
  top: 6px;
  display: table;
  width: 6px;
  height: 6px; 
  background: #fff;
  border-radius: 50%;
  content: ' '; }
.mz-check input[disabled] + i:before,
  fieldset[disabled] .mz-check input + i:before {
      opacity: 0.5; }
.mz-check input[disabled]:checked + i:before {
      opacity: 0.5; }
.mz-check > i {
  width: 0;
  height: 18px;
  line-height: 1;
  margin-left: -17px;
  float: left;
  display: inline-block;
  vertical-align: middle;
  margin-right: 28px;
  position: relative; 
}
.mz-check > i:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 100%;
  border: 2px solid #cecece;
}
.mz-check > i.no-icon:after {
  display: none !important; 
}
.mz-blue {
  background-color: #1784c7;
  color: #fff;
}

@media screen and (max-width: 1366px) {
    body, html { 
        font-size: 12px;
    }
  }

@media screen and (max-width: 1280px) { 

    .btn-submit{
        margin-top: 3%;
        margin-bottom: 3%;
    }

}

@media screen and (max-width: 768px) { 

    .main-nav { 
        display: flex !important;
        justify-content: space-around  !important;
        align-items: center !important;
    }

    

}
