@import './_variables.css';
@import './font.css';

body, html { 
    font-family: 'Roboto';
    font-size: 14px;

}

h1 { 
    font-size: 3.5rem;
    font-weight: 700;
}

p { 
    color: var(--passive-gray);
    font-size: 1rem;
}

.row { 
    min-height: 100vh;
}

.form-group { 
    font-size: 1rem;
}

.link { 
    font-size: 1rem;
    font-weight: 700;
    color: #4492ED;
}


.container-image { 
    background-image: url('../img/markus-spiske-k-o-Icw5J80-unsplash.jpg');
    background-size: cover;
    display: grid;
    grid-template-columns: 5% auto 50%;
    grid-template-rows: 5em auto 5em;
}


.slogan { 
    grid-column: 2;
    grid-row: 2;
    border-left: 2px solid var(--passive-gray);
    color: var(--passive-gray);
    display: flex;
    align-items: flex-end;
    padding: 2em;

}

.slogan h1 { 
    opacity: 0;
}

.main-nav { 
   
    padding: 0em 1.5em;
    margin-bottom: 5%;
}


.main-nav ul{
    list-style-type:none;
    margin: 0;
    padding: 0;

}

.main-nav ul li { 
    float: right;

}
.main-nav ul li a {
    display: block;
    text-decoration: none;
    padding: 1em 1.25em;
    color: #A3A3A3;
    border-bottom: 3px solid white;
    font-weight: 700;
    font-size: 1.15em;
   


}

.brand { 
    max-width: 150px;
}

.main-nav ul li a:hover { 

    color: #74BDCB;
    border-bottom: 3px solid #74BDCB;
}

.brand { 
	max-width: 150px;
}

.main-form { 
    margin: 5% 15% 0 15%;
}



.btn-submit{
    margin-top: 10%;
    margin-bottom: 10%;
}

.form-title { 
    width: 90%;
    margin-bottom: 5%;
}

.bottom-bar { 
    text-align: center;
}



input[type=email], input[type=password], input[type=text]{ 
    font-size:1rem;
    display:block;
    width:100%;
    border:none;
    padding: 0.25em;

    border-bottom:2px solid #757575;
}

button[type=submit] { 
    padding: 1em;
    border-radius: 40px;
    font-weight: 700;
    color: var(--passive-gray);
}

input:focus { 
    outline: none;
}

.agree{
    padding-top: 10px;
}


/* sandwich */
.sandwich {
    cursor: pointer;

  }
.icon-bar { 
    width: 22px;
    height: 2px;
    background-color: black;
    transition: all cubic-bezier(0.35, 0.4, 0.27, 1.55) 0.35s;
    margin-top: 4px;

}

/* button */

.btn-primary { 
    background-color: #E7F2F8 !important;
    border: none;
}

.btn-primary:hover { 
    background-color: #74BDCB !important;
    
}

.btn-primary:focus { 
    background-color: #74BDCB !important;
    border: none;

}

.btn-primary:active { 
    background-color: #74BDCB !important;
    border: none;
}

@media screen and (max-width: 1366px) {
    body, html { 
        font-size: 12px;
    }
  }

@media screen and (max-width: 1280px) { 

    .btn-submit{
        margin-top: 3%;
        margin-bottom: 3%;
    }

}

@media screen and (max-width: 768px) { 

    .main-nav { 
        display: flex !important;
        justify-content: space-around  !important;
        align-items: center !important;
    }

    

}
